[2021-03-30 00:01] j-dogcoder opened #3 "Database Storage"
Using database for storing things like user role id's and more.

Using
[https://discordjs.guide/sequelize/#installing-and-using-sequelize](https://discordjs.guide/sequelize/#installing-and-using-sequelize)
or
https://discordjs.guide/keyv/

[2021-03-30 00:58] j-dogcoder opened #4 "Fix ping command"
Currently returns pong. Would be nice to get an actual ping time.

[2021-03-30 01:21] j-dogcoder opened #5 "Proper documentation."
If anyone wants to write up propper nice looking documentation, that would be amazing. I would be happy to coordinate around web hosting etc, just let me know

[2021-03-30 22:44] j-dogcoder commented on #3
To clarify, the database would be used so that each server can specify their role ids for admin, user, muted, etc. This would also mean they could set a custom prefix and custom reaction roles.

[2021-03-30 22:45] j-dogcoder commented on #3
I have not implemented anything in terms of a database, so this would be a pretty big task.

[2021-03-30 23:39] j-dogcoder opened #17 "Bug with admin commands"
My error message

(```
node:75058) UnhandledPromiseRejectionWarning: ReferenceError: ADMIN_ROLE_ID is not defined
    at Object.execute (/Users/jasper/Desktop/Coding/Heptagram/commands/Moderation/clear.js:9:44)
    at Client.<anonymous> (/Users/jasper/Desktop/Coding/Heptagram/main.js:40:32)
    at Client.emit (events.js:315:20)
    at MessageCreateAction.handle (/Users/jasper/Desktop/Coding/Heptag

[2021-03-30 23:40] j-dogcoder commented on #17
Hold, I may be on the wrong branch

[2021-03-30 23:43] j-dogcoder commented on #17
Nope. Still broken

[2021-03-30 23:43] j-dogcoder commented on #17
@thinkverse?

[2021-03-30 23:50] thinkverse commented on #17
Did you pull down the latest changes? `ROLE_ADMIN_ID` is not referenced anywhere in the clear command, you must have an old version locally. Look at the code here on GitHub the reference is not there. 🤷‍♂️

[2021-03-30 23:51] j-dogcoder commented on #17
Huh. Let me see...

[2021-03-30 23:57] j-dogcoder commented on #17
Now it's throwing something else entirely.

`(node:76506) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'admin' of undefined
    at Object.execute (/Users/jasper/Desktop/Coding/Heptagram/commands/Moderation/clear.js:9:50)
    at Client.<anonymous> (/Users/jasper/Desktop/Coding/Heptagram/main.js:39:32)
    at Client.emit (events.js:315:20)
    at MessageCreateAction.handle (/Use

[2021-03-31 00:00] j-dogcoder commented on #17
I sent you the discord server invite even though the server is not done. This way you can test the bot when it's online.

[2021-03-31 11:21] j-dogcoder commented on #17
All good now.

[2021-03-31 11:21] #17 closed

[2021-03-31 19:28] bdougie commented on #3
Where is the bot deployed to? That may influence the answer.

[2021-03-31 22:04] j-dogcoder commented on #3
@bdougie The bot is currently just running on my desktop computer. I have some other projects that are going to be resource intensive as well, so I am currently server shopping for a server to be networked at my home/office. Eventually the goal is to run it on that.

[2021-04-01 02:02] j-dogcoder opened #20 "Setting up bot shards"
[https://discordjs.guide/sharding/](https://discordjs.guide/sharding/)

[2021-04-01 02:03] j-dogcoder opened #21 "Module reload command"
[https://discordjs.guide/command-handling/adding-features.html#reloading-commands](https://discordjs.guide/command-handling/adding-features.html#reloading-commands)

[2021-04-01 02:04] j-dogcoder opened #22 "Dynamic Help command rewrite"
[https://discordjs.guide/command-handling/adding-features.html#a-dynamic-help-command](https://discordjs.guide/command-handling/adding-features.html#a-dynamic-help-command)

[2021-04-01 02:10] j-dogcoder opened #23 "Proper Bot Logging"
The idea would be for bot events to be logged in MongoDB, as well as a separate database with logs for every guild.
And then, guild owners can also specify a discord channel they want their guild events logged in. Ideally, we could tap into discord's audit log so heptagram can display events that happened that it didn't do.

[2021-04-01 03:21] ceelo777 commented on #22
I'd be interested in taking this issue!

[2021-04-01 12:25] j-dogcoder commented on #22
All yours! We have some documentation in the readme you should look at before starting.

[2021-04-01 12:27] j-dogcoder commented on #22
The article at the top is just a suggestion. You won’t be able to follow it exactly due to the differences in our command handler.

[2021-04-01 12:48] j-dogcoder opened #24 "Twitch and Youtube notification abilitys"
Allows twitch and/or youtube notifications in chat.

[2021-04-01 13:03] j-dogcoder commented on #20
[https://anidiots.guide/understanding/sharding](https://anidiots.guide/understanding/sharding)

[2021-04-01 15:55] j-dogcoder commented on #22
@ceelo777 Let me know if you need anything.

[2021-04-01 23:56] Townsy45 commented on #3
I recommend taking a look at Postgres, if you are looking into an SQL variant. Its powerful and easy to use / install.
I use it for all of my projects, both Discord related and non.

Official page: [postgresql.org](https://www.postgresql.org/)

Great place to learn syntax and general tutorials: [www.postgresqltutorial.com](https://www.postgresqltutorial.com/what-is-postgresql/)

[2021-04-02 00:02] Townsy45 commented on #22
You would need to update the command handler to be able to support stuff like aliases and categories, or you can look at a command handler that would make this easier.

I have one that is simply to use and will save you some work if you were to look into using one.
https://www.npmjs.com/package/simply-discord
https://github.com/Townsy45/simply-discord

[2021-04-02 00:39] j-dogcoder commented on #3
@Townsy45 If you would like to take this on, that would be amazing.

[2021-04-02 00:39] j-dogcoder commented on #3
Let me know and I can assign it to you.

[2021-04-02 00:43] j-dogcoder commented on #22
@Townsy45 If you would like to take this on, that would be amazing. Let me know if you are interested and I can assign the issue to you.

[2021-04-02 00:47] j-dogcoder commented on #24
It would also be cool if it gave a role called something like "now streaming" to the steamer while they streamed and then took it away when they were done.

[2021-04-02 00:49] j-dogcoder opened #30 "web dashboard"
a web interface for changing bot configs and settings.

[2021-04-02 01:57] j-dogcoder opened #31 "ModMail/Ticketing feature"
If https://github.com/Dragory/modmailbot and https://ticketsbot.net/ had a child.

[2021-04-02 02:05] ceelo777 commented on #22
Sounds good! I'll get to work on it - unless @Townsy45 wants to work on it.

[2021-04-02 02:36] ceelo777 commented on #22
@j-dogcoder I'm completely new to this repo (and a bit new to Discord as well) - I got the project set up and running, but I'm getting this strange error (I'm Administrator btw on my server so I'm confused as to why this is happening)

Bot Ready and Online!
ReferenceError: admin is not defined.

Any ideas?

[2021-04-02 02:37] ceelo777 commented on #22
Feel free to assign this issue to someone else if I'm too much of a newbie - I'm down to do other issues that are maybe not as complicated perhaps since this project looks very intriguing to me and I'm just looking to contribute in any way I can.

[2021-04-02 10:38] j-dogcoder commented on #22
@ceelo777 You have to create a config.json and define the roles that are in there. You can look at the example-config.json for details. Basically, your config.json should look something like this.

`{
  "prefix": "!",
  "token": "your-token-goes-here",
  "roles": {
    "admin": "826438768621910000",
    "users": "826438671993010000",
    "muted": "826438805686050000"
  }
}`

[2021-04-02 10:39] j-dogcoder commented on #22
<img width="308" alt="Screen Shot 2021-04-02 at 6 38 56 AM" src="https://user-images.githubusercontent.com/65788728/113408843-1d335d80-937e-11eb-9f93-8dbc53a1bde9.png">
The spacing did not work on that so I took a picture also.

[2021-04-02 11:18] j-dogcoder commented on #22
You will need to replace the role ids with ones from your server.

[2021-04-02 11:18] j-dogcoder commented on #22
I will let you take this one @ceelo777 . @Townsy45 has commented on other ones also

[2021-04-02 11:19] LejhandGamingYT commented on #3
I can help you out..... 👀👀

[2021-04-02 11:19] j-dogcoder commented on #22
You will have to replace the values with your own. You can leave the prefix though. The bot token you will have to get from discord's developer portal. You will have to create the 3 roles shown above in your test server

[2021-04-02 16:07] j-dogcoder opened #34 "AutoMod system"
For things like anti link, bad words, etc

[2021-04-02 16:08] j-dogcoder opened #35 "Announcement command"

[2021-04-03 00:08] j-dogcoder opened #37 "covid stats command"
displays basic covid information from an api

[2021-04-03 00:22] j-dogcoder opened #39 "More "fun" commands"
If someone wanted to add a few more fun commands that would be cool.

Here is a list of potential ideas:

- an economy system
- pets system
- games (taco shack, etc)
- animal pictures
- sayings/motivational quotes
-

[2021-04-03 00:23] j-dogcoder opened #40 "Ranking system"
self explanatory

[2021-04-03 21:42] j-dogcoder opened #43 "BUG: ticket.js perms"
This Bug has several things that need to be fixed

- [ ] Change channel.setParent's value in ticket.js on line 6 to a value in the config.json file
- [ ] switch perm on line 28 to a hardcoded value in the config.json

[2021-04-03 21:43] j-dogcoder commented on #43
Also add error message if user uses reactions

[2021-04-03 21:43] j-dogcoder commented on #43
Related to issue #31

[2021-04-03 21:57] j-dogcoder commented on #31
Could be cool to implement [https://github.com/ghoststools/djs-ticketsystem](https://github.com/ghoststools/djs-ticketsystem)

[2021-04-04 22:15] j-dogcoder opened #48 "Music Bot"

[2021-04-05 00:15] j-dogcoder commented on #4
Also create uptime command

[2021-04-06 20:15] ceelo777 commented on #43
I'll take this issue!

[2021-04-06 20:16] j-dogcoder commented on #43
Go for it @ceelo777 ! Check your discord messages first though pls

[2021-04-06 21:56] ting-c opened #53 "Failed to run using the command 'node main.js'"
# **🐞 Bug Report**

## **Describe the bug**

Failed to run using the command 'node main.js'
*

---

### **Is this a regression?**

---

### **To Reproduce**

1. run the command on the root directory 'node main.js'
2.
Error location: Heptagram/commands/Utilitys/help.js:34
Error message:
const name = args[0].toLowerCase();
        ^^^^^

SyntaxError: Unexpected token 'const'

3.
4.

---

### **Expec

[2021-04-06 22:00] ting-c commented on #53
It runs fine when the closed curly bracket was removed on line 33 in command/Utilitys/help.js. However,  the code on line 34 and below is unreachable and redundant. I will submit a PR to show the changes I have made.

[2021-04-06 22:05] j-dogcoder commented on #53
@ting-c We are already aware of this bug and have someone working on a fix.

[2021-04-06 22:18] j-dogcoder commented on #53
Out of curiosity, you hosting the bot yourself, or waiting till our hosted version comes out this month?

[2021-04-06 22:18] j-dogcoder commented on #53
And how did you find this bot?

[2021-04-06 22:18] j-dogcoder commented on #53
Just wondering @ting-c

[2021-04-07 00:55] j-dogcoder opened #54 "Ower/System Role commands"
The Idea is for a set group of people (defined by their user ids) to be able to go into any server with the bot in it and perform "Maintenence" and "diagnostics" commands.

commands such as:

-  shard restart(once shards are implemented (issue #20))
- bot restart
- bot shutdown
- shard shutdown (is this a thing)
- diagnostic reports

[2021-04-07 00:57] j-dogcoder commented on #53
@ting-c Changes are staged. PR into master coming shortly.

[2021-04-07 00:58] j-dogcoder commented on #53
Out of curiosity, you hosting the bot yourself, or waiting till our hosted version comes out this month? And how did you find this bot? Just wondering @ting-c

[2021-04-07 08:37] ting-c commented on #53
@j-dogcoder I have just forked the repo and followed the instruction to host an empty server in discord. I have started contributing to open source and looked for interesting projects to work on using the search engine. I have a question about the config.json, I have replaced the token with mine but wasn't sure about the digits for the roles? Do I need to replace those too?

[2021-04-07 10:39] j-dogcoder commented on #53
Sure @ting-c! For your testing, you will have to create 3 roles.
- an admin role
- a user role
- and a muted role.

You will then have to replace the role ids with the correct ones for your server.

[2021-04-07 12:29] #53 closed

[2021-04-07 12:30] j-dogcoder opened #55 "Custom Embeds"
Have the ability to create custom embeds.

[2021-04-07 13:23] ting-c commented on #53
@j-dogcoder  I have added a feature where a random joke is fetched from an api and sent. Will do a PR soon.

[2021-04-07 13:24] j-dogcoder commented on #53
Ok! That sounds cool @ting-c! If you want to take a look at our GitHub issues, those are all things that need to be done

[2021-04-07 14:53] j-dogcoder commented on #30
Looks like [https://github.com/IgorKowalczyk/majobot](https://github.com/IgorKowalczyk/majobot) has a interesting dashboard

[2021-04-07 17:03] ting-c commented on #37
@j-dogcoder What kind of covid info ? Things like infected, death for a country?

[2021-04-07 20:44] j-dogcoder commented on #37
Yes. Things just like that.

[2021-04-08 09:22] ting-c commented on #37
Can you assign me please? Thanks

[2021-04-08 10:23] ting-c commented on #23
Can I take this issue please @j-dogcoder ?

[2021-04-08 10:24] j-dogcoder commented on #23
Of course!

[2021-04-08 10:25] j-dogcoder opened #68 "New command handler"
Pls implement the command handler from [this video.](https://www.youtube.com/watch?v=Sihf7B8D4Y8&list=PLbbLC0BLaGjpyzN1rg-gK4dUqbn8eJQq4&index=14)

[2021-04-08 11:36] ting-c commented on #23
Is the purpose of the logging to be saved in a file then stored in the database?

[2021-04-08 12:07] j-dogcoder commented on #23
@ting-c The plan was to have a master log(logs actions for all guilds) inside the database and for users to be able to specify a log channel(only logs actions in their guild)

[2021-04-08 12:11] ting-c commented on #68
In process of implemention

[2021-04-08 16:04] j-dogcoder commented on #68
Ok @ting-c!!

[2021-04-08 16:05] j-dogcoder commented on #23
Does that make sense @ting-c?

[2021-04-08 16:58] ting-c commented on #23
@j-dogcoder  Yes kind of, may ask for further description if needed.

[2021-04-08 17:37] j-dogcoder commented on #23
Let me know if you do.

[2021-04-08 17:55] #68 closed

[2021-04-08 22:04] #20 closed

[2021-04-08 22:04] j-dogcoder commented on #4
Started some work. Still not done

[2021-04-09 00:56] j-dogcoder opened #74 "BUG: [SHARDING_READY_TIMEOUT]: Shard 0's Client took too long to become ready."
(node:69059) UnhandledPromiseRejectionWarning: Error [SHARDING_READY_TIMEOUT]: Shard 0's Client took too long to become ready.
    at Timeout.onTimeout (/Users/jasper/Desktop/Coding/Heptagram/node_modules/discord.js/src/sharding/Shard.js:163:16)
    at listOnTimeout (internal/timers.js:554:17)
    at processTimers (internal/timers.js:497:7)
(Use `node --trace-warnings ...` to show where the warnin

[2021-04-09 10:13] #40 closed

[2021-04-09 19:36] #43 closed

[2021-04-09 19:36] #74 closed

[2021-04-09 20:54] ceelo777 commented on #48
I'll take this issue!

[2021-04-09 20:56] j-dogcoder commented on #48
Great @ceelo777!

[2021-04-12 10:57] RattaphonKarnsomlap commented on #24
Gh

[2021-04-12 11:05] j-dogcoder commented on #24
?

[2021-04-12 12:29] j-dogcoder commented on #24
@RattaphonKarnsomlap What do you mean?

[2021-04-14 12:37] j-dogcoder commented on #48
How's this going @ceelo777?

[2021-04-14 12:38] j-dogcoder commented on #23
How's this going @ting-c?

[2021-04-14 14:02] #4 closed

[2021-04-14 14:27] j-dogcoder commented on #5
I have started prep!

[2021-04-15 22:27] ceelo777 commented on #48
Still working on it - going to take a bit of time to get all the commands working and whatnot.

[2021-04-15 22:28] j-dogcoder commented on #48
Ok!

[2021-04-15 23:40] j-dogcoder commented on #22
@ceelo777 We now have staff only and bot admin only commands. Can we update the help command again so that those are excluded unless the user has that role?

[2021-04-15 23:56] j-dogcoder opened #86 "Warn System"
For tracking warns and based on the number of warns performing an action

[2021-04-16 00:00] j-dogcoder opened #87 "Event System"
Sort of like [Apollo](https://apollo.fyi/)

[2021-04-16 00:04] j-dogcoder opened #88 "Suggestion System"
Like [https://github.com/Suggester/Suggester](https://github.com/Suggester/Suggester)

[2021-04-16 20:14] j-dogcoder opened #91 "Giveaway Feature"

[2021-04-18 12:49] j-dogcoder commented on #23
The idea would be for bot events to be logged in MongoDB, as well as a separate database with logs for every guild.
And then, guild owners can also specify a discord channel they want their guild events logged in.

[2021-04-18 12:51] j-dogcoder commented on #23
Ideally, we could tap into discord's audit log so heptagram can display events that happened that it didn't do.

[2021-04-20 01:11] j-dogcoder opened #93 "Currency/Banking"
Possibly using [https://github.com/birbified/discord-mongo-currency](https://github.com/birbified/discord-mongo-currency)?

[2021-04-20 01:19] j-dogcoder opened #94 "Test Issue"
Issue Test

[2021-04-20 01:19] #94 closed

[2021-04-21 01:15] j-dogcoder opened #97 "🐛 BUG: Command fails when not in wrapped in execute."
In this particular example, this is the lock.js file. I would love to have the handler fixed entirely though.

[2021-04-21 01:16] j-dogcoder commented on #97
### **Error Message:**

[code]

[2021-04-21 11:40] j-dogcoder commented on #97
<img width="874" alt="Screen Shot 2021-04-21 at 7 40 01 AM" src="https://user-images.githubusercontent.com/65788728/115547946-e1046600-a274-11eb-8201-8fb6177c7d58.png">

[2021-04-21 11:40] #97 closed

[2021-04-21 11:48] j-dogcoder opened #100 "🐛 BUG: Lock command not working."

[2021-04-21 11:53] thinkverse commented on #100
You're ending the command object on `Line 8`, the command execution isn't on the command object at all.

https://github.com/Heptagram-Bot/Heptagram/blob/c5fc72b8e1927c81aad35938db64d980fcc946ba/commands/Moderation/lock.js#L7-L11

Also, the message event uses `execute` to call each command execution, not `run`.

https://github.com/Heptagram-Bot/Heptagram/blob/c5fc72b8e1927c81aad35938db64d980fcc946b

[2021-04-21 12:09] j-dogcoder commented on #100
@thinkverse That is changed on the latest staged commit. It is still broken though

[2021-04-21 12:12] thinkverse commented on #100
Ok, I'll pull the latest and check it out.

[2021-04-21 12:27] #100 closed

[2021-04-21 13:37] j-dogcoder opened #102 "unlock command"

[2021-04-21 14:28] j-dogcoder opened #103 "Make usable for multiple servers."
Hey there everyone! As we get closer and closer to launch, (official date coming soon) there are lots and lots of things to do.  I have a mammoth task that needs to be taken on by someone (if not a few people). This task is making sure the bot can be used on multiple servers. This means making variables such as the prefix, admin role id, etc, configurable for just that guild. The kind of idea I ha

[2021-04-22 00:15] j-dogcoder opened #105 "NSFW commands throw error"
[code]
Commit on the staged branch.

[2021-04-22 06:56] thinkverse commented on #105
Code causing the error.

https://github.com/Heptagram-Bot/Heptagram/blob/cdb2d1249ab6f282509acffe05cfb3da840c65de/commands/nsfw/ass.js#L11

Most likely done because the arguments aren't being destructured from the incoming object, they're being handled like arguments. Should destructure them from the object `({ client, message, args })`

https://github.com/Heptagram-Bot/Heptagram/blob/cdb2d1249ab6

[2021-04-22 11:18] j-dogcoder commented on #105
I will try that. Thanks @thinkverse

[2021-04-22 11:22] j-dogcoder commented on #105
Now it is throwing
[code]
@thinkverse

[2021-04-22 11:29] thinkverse commented on #105
Looking at the documentation for [akaneko](https://www.npmjs.com/package/akaneko) it seems the functions are asynchronous and need to be handled with either `await` or `then`. Since that isn't the case you're passing the  `Promise` to the embed, console the output and see what you get back. Their documentation also has an example for `discord.js` in it.

[2021-04-22 11:44] j-dogcoder commented on #105
Works! Thanks for the help @thinkverse!

[2021-04-22 11:44] #105 closed

[2021-04-23 01:38] j-dogcoder commented on #102
.take

[2021-04-23 01:39] j-dogcoder commented on #103
.take

[2021-04-24 23:16] j-dogcoder opened #112 "Setup Command:"
Be able to set up the bot with roles, permissions, ect.

[2021-04-28 01:04] j-dogcoder commented on #24
Everyone should check out FiniteSingularity's [TAU](https://github.com/FiniteSingularity/tau/). TAU is basically a tool for interacting with the Twitch API. (Possible plans for youtube API later). The plan is for TAU to be baked in as our stream notification system.

[2021-04-30 11:10] j-dogcoder commented on #24
Please make sure to check out the issue in the TAU repo seeing as it pertains some good ideas.

[2021-05-04 01:23] j-dogcoder opened #126 "Update commands to return embeds"
Most commands currently return messages. Update to return embeds.

[2021-05-04 22:34] #126 closed

[2021-05-05 14:32] virgildotcodes commented on #21
.take

[2021-05-05 17:29] #21 closed

[2021-05-09 14:56] j-dogcoder opened #135 "Readme Update"
Switch license in readme to **Mozilla Public License Version 2.0**

[2021-05-10 08:02] j-dogcoder opened #136 "Improved permissions system"

[2021-05-10 12:04] #135 closed

[2021-05-12 13:55] j-dogcoder opened #146 "CI and Tests"

[2021-05-12 17:45] j-dogcoder opened #147 "Test"
pls ignore. just testing

[2021-05-12 17:46] #147 closed

[2021-05-12 20:25] #39 closed

[2021-05-12 20:25] #54 closed

[2021-05-12 20:26] #91 closed

[2021-05-12 20:26] #93 closed

[2021-05-13 11:02] j-dogcoder commented on #3
Part of #103

[2021-05-14 22:52] j-dogcoder opened #149 "🐛 Bug: "Hack" command and Clyde command not working"
on the run of command, receives an error.

[code]

[2021-05-14 22:52] j-dogcoder commented on #149
**_NOTE: Changes only on staged branch._**

[2021-05-14 23:25] j-dogcoder opened #150 "🐛Bug: Hug command and slap command not working"
(node:46092) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'mentions' of undefined
    at Object.execute (/Users/jasper/Desktop/Coding/Projects/ProjectHeptagram/Heptagram/commands/Fun/hug.js:6:29)
    at module.exports (/Users/jasper/Desktop/Coding/Projects/ProjectHeptagram/Heptagram/events/guild/message.js:15:34)
    at Client.emit (events.js:327:22)
    at MessageCreateAction

[2021-05-14 23:58] #35 closed

[2021-05-15 01:01] j-dogcoder commented on #30
Maybe using something like [https://github.com/julianYaman/discord-bot-dashboard](https://github.com/julianYaman/discord-bot-dashboard)?

[2021-05-15 11:42] j-dogcoder commented on #23
Posibly using [https://www.npmjs.com/package/discord-messages](https://www.npmjs.com/package/discord-messages)?

[2021-05-15 17:29] ting-c commented on #23
Currently using [https://www.npmjs.com/package/discord-auditlog](https://www.npmjs.com/package/discord-auditlog)

[2021-05-16 12:26] j-dogcoder opened #153 "Test"

[2021-05-16 12:26] #153 closed

[2021-05-16 18:27] j-dogcoder opened #154 "test"

[2021-05-16 18:29] #154 closed

[2021-05-18 16:07] j-dogcoder opened #162 "🐛 Bug: user command doesn’t work with mentions."

[2021-05-18 22:39] j-dogcoder commented on #30
I definitely want something for ban appeals like [https://github.com/jcsumlin/discord-ban-appeal](https://github.com/jcsumlin/discord-ban-appeal)

[2021-05-19 00:27] squarecylinder commented on #150
Hey I fixed the bugs, I just don't know how to create the PR lol.

[2021-05-19 00:52] #150 closed

[2021-05-19 11:18] squarecylinder commented on #149
.take

[2021-05-19 12:34] squarecylinder commented on #149
PR #166 is up for this.

[2021-05-19 13:25] #149 closed

[2021-05-21 19:40] j-dogcoder opened #168 "Command Cooldown"
Using [https://discordjs.guide/command-handling/adding-features.html#cooldowns](https://discordjs.guide/command-handling/adding-features.html#cooldowns)

[2021-05-21 20:15] j-dogcoder opened #169 "Guild Only Command Notification"
message to user if guild only command is ran in dm

[2021-05-22 19:06] slayer321 commented on #169
Hello @j-dogcoder, I am new to the open-source community. I would like to take up this issue. Please brief me on the issue.

[2021-05-22 23:03] j-dogcoder commented on #169
Hey there @slayer321! We would love to have you contribute! Please check out our [contributing guide](https://github.com/Heptagram-Bot/Heptagram/blob/master/CONTRIBUTING.md).

[2021-05-22 23:09] j-dogcoder commented on #169
For this issue, Most commands have a property called "guild only". We want users to receive a message when they execute a guild only command in a DM.

[2021-05-23 09:27] slayer321 commented on #169
Hey, @j-dogcoder  I read [contributing guide](https://github.com/Heptagram-Bot/Heptagram/blob/master/CONTRIBUTING.md) and also forked and done with all the installation and added the token and the bot is up and running. The bot is very Cool I liked it. This is the first time I'm working with the bot's so there are some doubts that I have.
 I check that some bot command has the property `guide only

[2021-05-23 10:31] j-dogcoder commented on #169
Hey @slayer321 , you could check out [https://discordjs.guide/command-handling/adding-features.html#guild-only-commands](https://discordjs.guide/command-handling/adding-features.html#guild-only-commands) for some more info.

[2021-05-23 16:29] j-dogcoder commented on #169
How's it going @slayer321?

[2021-05-23 18:55] slayer321 commented on #169
Hey, @j-dogcoder  what I have understood till now is that the command has the property `guild only` that needs to be set as true.
And if the user will try to execute the command which is set as `true`  in anyone's DM then the user will get some message saying `you can't execute this command in DM`, am I right?
So how can it be implemented .... as I set the `cat` command to true and when I executed

[2021-05-23 19:00] j-dogcoder commented on #169
Hey @slayer321, you are correct in the basics. The cat command shouldn’t be guild only. Things like kick and ban, however, should be guild only.

[2021-05-23 19:27] slayer321 commented on #169
the `guide only` property for `ban` and `kick` are already set as true and whenever I'm trying to run that command this is what I'm getting `there was an error trying to execute that command! Please contact a developer in our support server.`
So want to replace this message with some other message which will be sent to the user's DM whenever they are trying to run this command?  this is what you w

[2021-05-23 19:41] j-dogcoder commented on #169
That is correct

[2021-05-23 19:55] slayer321 commented on #169
ok, so can you give me some reference on how can I implement it .. I searched it but founding nothing useful.
going to sleep will work on it tomorrow.

[2021-05-23 20:00] j-dogcoder commented on #169
I suggest you find an issue you know how to work on. If we guided everyone through every issue, that would be all we were doing.

[2021-05-23 22:07] j-dogcoder commented on #103
This also involves working with #112

[2021-05-27 10:18] #3 closed

[2021-05-28 13:35] BennovanDorst opened #172 "Avatar Command not working"
const embed = new MessageEmbed()
                          ^

ReferenceError: MessageEmbed is not defined

[2021-05-28 13:35] BennovanDorst commented on #172
.take

[2021-05-28 15:07] #172 closed

[2021-05-28 15:07] j-dogcoder commented on #172
Closed by PR #173

[2021-05-28 17:07] cemeiq commented on #102
@j-dogcoder Can I take this issue ?

[2021-05-28 17:10] j-dogcoder opened #175 "Github Actions"
### Actions to be set up:

- [ ]  https://github.com/actions/stale
- [ ] https://github.com/dessant/lock-threads
- [ ] https://github.com/pascalgn/automerge-action
- [ ]  Some kind of automated release action
- [ ] _more to be added soon..._

[2021-05-28 17:16] j-dogcoder commented on #102
Sure! Use `.take` to claim it. Also, please check out our [CONTRIBUTING.md](https://github.com/Heptagram-Bot/Heptagram/blob/master/CONTRIBUTING.md) before starting.

[2021-05-29 04:23] Agrover112 commented on #5
Would love to help. Athough I don't really know JS

[2021-05-30 11:45] avinashupadhya99 commented on #175
Hey, I'm interested in working on this. Can you please assign this to me? Thanks

[2021-05-30 20:17] j-dogcoder commented on #175
Good to have you aboard @avinashupadhya99! Thanks for helping. Please remember to check out our contribution guide. You can also join our community discord.

[2021-05-31 02:00] j-dogcoder commented on #5
Weird, can't seem to reply on GitHub. Are you still interested?

[2021-05-31 02:04] j-dogcoder commented on #175
Does that make sense @avinashupadhya99?

[2021-05-31 02:04] j-dogcoder commented on #102
How's it coming @cemeiq?

[2021-05-31 02:48] Agrover112 commented on #5
Yup I am , deleted the comment by mistake. Although as I stated I mostly have idea about Py(not JS), so would need some help /direction for this .

[2021-05-31 09:32] avinashupadhya99 commented on #175
Hey, what labels do you want to be added? Also, what should be the inactivity period for the stale and thread lock actions?

[2021-05-31 12:37] j-dogcoder commented on #5
Sure @Agrover112! You could join our discord server and talk with some developers there, or if any @Heptagram-Bot/bot-dev-team or @Heptagram-Bot/heptagram-open-source-team members want to chime in here they can.

[2021-05-31 12:46] j-dogcoder commented on #175
Stale should be a month or 2. The lock should be a bit after that. I would also like to be able to mark issues with a "Never Stale" label, that will allow the issues/prs to not become stale.

[2021-05-31 13:52] j-dogcoder opened #176 "Reaction Roles"
Maybe using something like [this](https://github.com/NKN1396/Discord-EmojiToRole)?

[2021-05-31 16:13] cemeiq commented on #102
@j-dogcoder Is this unlock command similar to this one [https://github.com/Heptagram-Bot/Heptagram/blob/master/commands/Moderation/lock.js](url). ?

[2021-05-31 16:18] j-dogcoder commented on #102
@cemeiq It is the reverse of that.

[2021-05-31 16:21] j-dogcoder commented on #102
@cemeiq Put 2 PR's in on your fork

[2021-05-31 16:24] j-dogcoder opened #177 "Implement Buttons"
Use buttons for things like suggesting mod actions, etc.

Probably use [npm - discord buttons](https://github.com/AngeloCore/discord-buttons) untill discord.js supports it.

![68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3834363435353333393431393137323837342f3834383330303831363238383035353239362f4d61696e2e706e67](https://user-images.githubusercontent.com/65788728/1

[2021-05-31 16:32] cemeiq commented on #102
@j-dogcoder Okay, I will do that. I will get back to this in a day or so.

[2021-05-31 23:02] j-dogcoder commented on #102
Ok!

[2021-06-01 10:28] #168 closed

[2021-06-02 19:20] j-dogcoder opened #180 "Test Issue for action"

[2021-06-02 19:21] #180 closed

[2021-06-02 19:22] j-dogcoder opened #181 "Test Issue for action #2"

[2021-06-02 19:26] #181 closed

[2021-06-02 22:38] #136 closed

[2021-06-02 22:54] j-dogcoder opened #182 "To Do list for Initial Release:"
## Ticket Marked as Locked and Staff Only. Please reference sub-issues to take something on. @psyonix-engg is the lead on this issue, and you can direct any questions to them.
_This is basically a clearer version of [issue #103](https://github.com/Heptagram-Bot/Heptagram/issues/103)_

- [ ] make variable prefix, admin role id, etc, configurable per guild.
- [ ] make variable _admin_ role id config

[2021-06-02 22:56] j-dogcoder commented on #103
Closing due to better wording and overall better issue in #182

[2021-06-02 22:56] #103 closed

[2021-06-04 11:13] cemeiq commented on #102
Hi  @j-dogcoder I will be leaving this issue due to lack of understanding on my part.

[2021-06-04 18:18] thinkverse commented on #102
.take

[2021-06-05 02:32] #102 closed

[2021-06-05 02:34] j-dogcoder commented on #102
Thank you @thinkverse!

[2021-06-05 13:06] j-dogcoder opened #184 "Add ability to specify channel to lock and unlock"

[2021-06-05 13:07] j-dogcoder commented on #184
@thinkverse Ok if I assign this to you?

[2021-06-05 13:28] j-dogcoder opened #185 "Bot Gateway Intents"
Seems we should probably figure out these gateway intents that discord wants us to use. Can anyone figure these out? I think there is a guide [here](https://deploy-preview-638--discordjs-guide.netlify.app/popular-topics/intents.html#privileged-intents)

[2021-06-05 14:16] j-dogcoder opened #186 "✨ feature: Slash Commands"
Implement slash commands

[2021-06-05 17:57] j-dogcoder opened #187 "🐛 BUG: Unlock command resets to default permissions."
The unlock command resets to give everyone full permissions. Can it somehow store the permissions of what the channel had before it was locked?

@thinkverse Maybe you would be willing to take a look at this one?

[2021-06-05 18:00] j-dogcoder opened #188 "Test Issue. IGNORE"

[2021-06-05 18:01] #188 closed

[2021-06-07 18:59] Uklizdev commented on #187
The problem is that when you use `overwritePermissions` in the lock command you are deleting all permissions and only adding the one you want: deny send_messages. So when you unlock it again, you replace all permissions to the defaults and allow send_messages. So twice what you are doing is making all other channel permissions set as default.

What you can do to solve this problem is locking the c

[2021-06-07 20:39] j-dogcoder commented on #187
We already have a "User" role to handle mutes. Maybe we can use that as the role to remove permissions from?

[2021-06-07 22:15] Uklizdev commented on #187
That'd work but only for your server, not all servers have that User role. How do you wanna implement it? In my opinion its good to leave it to the server admin to decide, if he wants a specific role to be locked from the channel he'd use `!lock <roleID> `or `!unlock <roleID>` . But that's up to you, how do you want them to use the command?

[2021-06-07 22:19] j-dogcoder commented on #187
Can it somehow store the permissions of what the channel had before it was locked and then restore it to that?

[2021-06-07 22:38] Uklizdev commented on #187
Not that I know of, if you check the TextChannel class in Discord js docs there are 3 methods useful for the lock-unlock purpose:

- `overwritePermissions` The one you used and deletes the permissions
- `permissionsFor(memberOrRole) ` This one needs a user id or a role id to work and it returns a "Bitfield" that is, a number that tells you which permissions did that role/user had for that channel.

[2021-06-11 23:11] j-dogcoder opened #193 "🐛 BUG: Help command in DM's"
When executing help command from dm, you receive the error

`TypeError: Cannot read property 'roles' of null
`

This is due to it getting the role from the server. Once we have the database up, mods and admins can be specified per server/guild, and then we can use that to reference instead of the role in the server.

**I am going to lock this ticket until the database is up, but if anyone has a di

[2021-06-11 23:23] j-dogcoder opened #194 "Inclusive Language Module"
It would be cool if we could use [alexjs](https://alexjs.com) to make a module that will alert users in chat if they aren't using inclusive language. Of course, if guilds wanted to disable this, It could be disableable per guild.

[2021-06-14 15:46] #162 closed

[2021-06-15 12:05] j-dogcoder commented on #175
Any update @avinashupadhya99?

[2021-06-20 10:26] j-dogcoder commented on #31
[https://www.youtube.com/watch?v=hYfcycOI9BY&list=PLaxxQQak6D_fxb9_-YsmRwxfw5PH9xALe&index=30](https://www.youtube.com/watch?v=hYfcycOI9BY&list=PLaxxQQak6D_fxb9_-YsmRwxfw5PH9xALe&index=30)

[2021-07-02 18:06] j-dogcoder opened #206 "🐛 BUG: Discord api error when deleting messages"
Returns `(node:31493) UnhandledPromiseRejectionWarning: DiscordAPIError: You can only bulk delete messages that are under 14 days old.` when wiping or clearing messages older than 14 days. Is there a way to have the bot respond to this error with a message?

[2021-07-05 19:07] #22 closed

[2021-07-05 22:03] Mert18 commented on #48
.take I am working on it :)

[2021-07-05 22:57] j-dogcoder commented on #48
Yay! Thanks @Mert18!

[2021-07-06 15:02] j-dogcoder opened #212 "make variable prefix, admin role id, etc, configurable per guild."

[2021-07-06 15:06] j-dogcoder opened #213 "make owner ids a static defined thing for ALL of bot (make sure new roles match roles on commands)"

[2021-07-06 15:06] #213 closed

[2021-07-06 15:07] j-dogcoder commented on #112
### More clear description:
create a 1-time setup command. creates a new guild "profile" that includes the user, admin, and muted role ids, and prefix they want to use. (creates roles or user can specify them) (see issue Make usable for multiple servers. #103 if confused about "profiles")

[2021-07-07 20:02] #48 closed

[2021-07-07 20:07] j-dogcoder opened #214 "Propper mute system"
Currently, mutes are just role-based, so if a user leaves a server then rejoins, they won't be muted anymore. **This issue will require some database work.**

[2021-07-07 20:31] Meerkat25 opened #215 "Bot does not inform about disabled DM"
When running the `help` command, the bot tries to send a private message, but when the user has this option blocked, the bot informs about the error without giving a reason.

![IMG_20210707_223413.jpg](https://user-images.githubusercontent.com/87095484/124825088-79a4ab00-df73-11eb-991c-e8a307f302e1.jpg)

[2021-07-07 20:57] j-dogcoder opened #216 "Help command error when user has DMs turned off."

[2021-07-07 20:57] j-dogcoder commented on #215
Duplicate of #216

[2021-07-07 20:58] j-dogcoder commented on #216
<img width="960" alt="Screen Shot 2021-07-07 at 4 58 16 PM" src="https://user-images.githubusercontent.com/65788728/124827868-8bbb2500-df44-11eb-9203-674ae424c97f.png">

[2021-07-07 20:59] #215 closed

[2021-07-08 05:45] net-tech opened #217 "✨❓ Feature Request: Lockdown Command"
The lockdown command would lock the whole server by changing role perms for `@everyone` role. Now of course it is up to owners to make sure channels perms are set up right too.

[2021-07-08 13:59] j-dogcoder commented on #217
The perms would be for the `user` role, as the bot uses roles like user, and muted, to mute users. Other than that, great idea!

[2021-07-08 15:21] j-dogcoder opened #218 "Heptagram Website"
This is the issue for the Heptagram Website. You can find its repo at [https://github.com/Heptagram-Bot/website](https://github.com/Heptagram-Bot/website).

This issue will be marked as locked, please have any discussion on its repo.

[2021-07-08 16:19] j-dogcoder commented on #216
Maybe we can just send the embed in the server instead?

[2021-07-08 16:25] j-dogcoder opened #219 "🚑 BUG!!! Help command not working at all"
`RangeError [EMBED_FIELD_VALUE]: MessageEmbed field values may not be empty.
`

[2021-07-08 16:30] #219 closed

[2021-07-08 16:36] #216 closed

[2021-07-11 11:13] #193 closed

[2021-07-13 13:30] j-dogcoder opened #224 "warning snekfetch@4.0.4: use node-fetch instead"
warning snekfetch@4.0.4: use node-fetch instead

Please switch to using node fetch

[2021-07-13 18:40] #224 closed

[2021-07-16 01:43] j-dogcoder opened #230 "New command handler"
new command handler to make things easier. Maybe use [https://www.youtube.com/watch?v=lbpUc17InkM&list=PLaxxQQak6D_fxb9_-YsmRwxfw5PH9xALe&index=25]( https://www.youtube.com/watch?v=lbpUc17InkM&list=PLaxxQQak6D_fxb9_-YsmRwxfw5PH9xALe&index=25)?

[2021-07-16 14:50] j-dogcoder opened #231 "Warning for invite"
Commit [c80286a](https://github.com/Heptagram-Bot/Heptagram/commit/c80286a34c1780aba3ec286660ee699f6edb8aa3) adds support for anti ad (only discord links currently). Once the warnings system is done, we want it to give them a warning when they send a discord link.

[2021-07-16 14:52] j-dogcoder opened #232 "Anti Ad support more than just discord links"

[2021-07-16 14:54] j-dogcoder opened #233 "Anti ad configurable by guild"
make it so anti-ad can be turned off on a guild level

[2021-07-19 02:06] j-dogcoder opened #234 "Server is invite for support"
This issue is really just a feature note for me,and it is something I plan on implementing.

[2021-07-20 03:11] j-dogcoder commented on #233
Closed by [https://github.com/Heptagram-Bot/Heptagram/commit/f555b32be4aa8880b35d0992da118f6000118585](https://github.com/Heptagram-Bot/Heptagram/commit/f555b32be4aa8880b35d0992da118f6000118585)

[2021-07-20 03:11] #233 closed

[2021-07-20 03:11] j-dogcoder commented on #230
Closed by [https://github.com/Heptagram-Bot/Heptagram/commit/f555b32be4aa8880b35d0992da118f6000118585](https://github.com/Heptagram-Bot/Heptagram/commit/f555b32be4aa8880b35d0992da118f6000118585)

[2021-07-20 03:12] #230 closed

[2021-07-20 03:12] #187 closed

[2021-07-20 03:13] #184 closed

[2021-07-20 12:29] j-dogcoder commented on #186
Now can use [https://docs.wornoffkeys.com/commands/slash-commands](https://docs.wornoffkeys.com/commands/slash-commands)

[2021-07-20 12:30] #206 closed

[2021-07-20 20:36] #234 closed

[2021-07-23 16:36] Vyvy-vi opened #241 "✨❓ Feature Request: Clyde messages via Webhooks"
## **Description**

The bot currently outputs an image with text added on it, however this isn't a very optimal solution(unless we set up logic to resize the template message image to whatever length the command message uses). Moreover, the bot doesn't support channel tagging or pinging people. Instead of rendering an image, we could just create a webhook to that channel, and send the message via

[2021-07-23 22:43] j-dogcoder opened #242 "Heptagram Log and Error Handler"
Based on [https://github.com/BeccaLyria/discord-bot/blob/main/src/utils/beccaErrorHandler.ts](https://github.com/BeccaLyria/discord-bot/blob/main/src/utils/beccaErrorHandler.ts)
and
[https://github.com/BeccaLyria/discord-bot/blob/main/src/utils/beccaLogHandler.ts](https://github.com/BeccaLyria/discord-bot/blob/main/src/utils/beccaLogHandler.ts)

Implement using WOKCommads error things. [https://do

[2021-07-24 00:18] j-dogcoder commented on #232
Closed by #243

[2021-07-24 00:19] #232 closed

[2021-07-24 00:19] j-dogcoder commented on #242
Duplicate of #23

[2021-07-24 00:20] j-dogcoder commented on #23
Connected to #242

[2021-07-25 23:17] j-dogcoder opened #254 "make anti-link configureable (allow certain members, certain links, etc)"

[2021-07-26 16:36] j-dogcoder opened #255 "Prefix mention not working"

[2021-07-26 23:16] j-dogcoder commented on #254
45208ed has temporary solution.

[2021-07-27 13:49] j-dogcoder commented on #175
@avinashupadhya99?

[2021-07-27 14:14] j-dogcoder commented on #175
Done!

[2021-07-27 14:14] #175 closed

[2021-07-27 15:18] prithvijit-dasgupta commented on #242
@j-dogcoder `winston` is a dead library (although very popular). The last commit was in 2020. It would be better to go ahead with a maintained logger library like [pino](https://github.com/pinojs/pino)

[2021-07-27 15:21] j-dogcoder commented on #242
Totally fine using just about anything. Would like to do something connected to the first message for sure though. Want to take this issue @prithvijit-dasgupta?

[2021-07-27 15:25] prithvijit-dasgupta commented on #242
So I only see a couple of logs in the bot server. The expectation is to set up a logging and error framework right?
I am very new to the Discord bot APIs but I am interested in learning and developing this

[2021-07-27 15:27] prithvijit-dasgupta commented on #242
Also is there a place with the schema and example data for the `config.json` file? I am unable to start the server without it

[2021-07-27 15:30] j-dogcoder commented on #242
That is the premise yes. We want a log and error handler based on `https://github.com/BeccaLyria/discord-bot/blob/main/src/utils/beccaErrorHandler.ts` and `https://github.com/BeccaLyria/discord-bot/blob/main/src/utils/beccaLogHandler.ts`. That bot stuff is written in typescript, so we want to replicate that as much as possible in js. It would also be nice to have permanent logs in somewhere like a

[2021-07-27 18:48] jehincastic commented on #255
Hey @j-dogcoder I would like to work on this issue.

Could you please elaborate a little so that it would be useful.

[2021-07-27 18:54] j-dogcoder commented on #255
Hey @jehincastic! The bot is supposed to reply when mentioned to, but right now it replies with

`Hey there! Need some help? My commands can be accessed through my prefix. My prefix in this server is [object Object]. You can use **[object Object]help for a list of all my commands.`

See the issue? object Object should be the prefix.

[2021-07-27 19:03] j-dogcoder commented on #242
Sound good @prithvijit-dasgupta?

[2021-07-27 22:46] #255 closed

[2021-07-28 14:02] j-dogcoder commented on #242
Would you like to work on this?

[2021-07-28 18:12] MidouWebDev opened #268 "✨❓ Feature Request: Make the bot multilingual"
**Description**

I see that the bot should be multilingual so that everyone can use it. I worked on the french translation and i am going to start working on the arabic translation.
So please, if you want to translate the bot to your language, comment below.
Thanks

[2021-07-29 06:48] prithvijit-dasgupta commented on #242
Yeah. I will work on this over the weekend

[2021-07-29 12:02] j-dogcoder opened #270 "Snark Mode"
Toggleable mode(toggled by guild) where the bot becomes snarky.

[2021-08-01 14:13] Vyvy-vi commented on #241
I'm wondering if this would be of much utility if we can't have "Clyde" in the webhook's name.
Perhaps we can either implement this in the API(*might be some heavy image editing, if we want it to work flawlessly but I think it's doable) OR we rename the webhook name, and call it something like "Discord System".

Also, adding this might also cause issues with the anti-link workflow. (there were a f

[2021-08-01 14:24] j-dogcoder commented on #241
Hey @Vyvy-vi, I have implemented a fix for the anti-link workflow, I think it would be better if we implement in API.

[2021-08-02 15:05] j-dogcoder opened #274 "Make thanks command length configurable"

[2021-08-04 13:29] j-dogcoder commented on #242
Any progress update @prithvijit-dasgupta?

[2021-08-04 22:44] #274 closed

[2021-08-05 04:26] akzain opened #277 "✨❓ Create a command that takes a word and return the meaning of the word"
**Description**

A new cool feature for the heptagram bot will be that we should create a command that accepts a word and then it returns the meaning of the word

[2021-08-05 12:49] #112 closed

[2021-08-05 13:36] MidouWebDev opened #278 "✨❓ Feature Request: Welcome message"
**Description**

I find it necessary for Heptgram to have this feature
A welcome message

[2021-08-06 01:12] pomf1 commented on #277
Hey, I left you a <strong>PR</strong> with the command you asked for! https://github.com/Heptagram-Bot/Heptagram/pull/279

Greetings! ♥

[2021-08-06 03:12] j-dogcoder commented on #277
Thanks! I'll take a look tomorrow.

[2021-08-07 13:14] j-dogcoder opened #281 "Propper Mute and Unmute Command"
Uses reasons, and time system, and is logged in database to prevent removal. (#214 also)

[2021-08-09 23:57] Panquesito7 commented on #278
I could work on this if you want. Let me know. Thanks. 🙂

[2021-08-09 23:57] Panquesito7 commented on #176
Isn't this already solved?

[2021-08-10 02:36] j-dogcoder commented on #176
Not yet!

[2021-08-10 02:38] j-dogcoder commented on #278
- That'd great @Panquesito7

[2021-08-10 17:48] Panquesito7 commented on #278
Working on it.

[2021-08-11 10:55] j-dogcoder opened #286 "Configureable welcome and leave message channels and messages."

[2021-08-11 19:22] j-dogcoder opened #287 "Welcome and leave listener into separate file."

[2021-08-12 01:08] Panquesito7 opened #288 "Capitalize the `Discord` word in the repository description"

[2021-08-12 10:51] MidouWebDev commented on #288
@j-dogcoder this issue is for you because no one has access to the repo settings just the owner

[2021-08-15 21:36] Panquesito7 opened #291 "✨❓ Feature Request: Use CodeQL instead of LGTM"
**Description**

We should use [CodeQL](https://github.com/github/codeql) instead of [LGTM](https://lgtm.com), as [CodeQL](https://github.com/github/codeql) is faster.

[Optional] **Additional Context**

[LGTM](https://lgtm.com) is a nice scanning tool. [CodeQL](https://github.com/github/codeql) is what powers [LGTM](https://lgtm.com). However, [LGTM](https://lgtm.com) takes too long to check for

[2021-08-17 01:05] Panquesito7 opened #292 "✨❓ Feature Request: A better idea for the Command Handler Packager"
**Description**

The current idea of the Command Handler Packager is to use somewhat of an API to register commands.
I suggest we should simply use the Discord.js API to implement those commands without the need for any APIs.

_Offtopic:_ I can also work on the slash commands if wanted.

[Optional] **Additional Context**

I don't think there's a need for any additional context. If you need more in

[2021-08-17 12:21] j-dogcoder commented on #292
I'm not sure your understanding how discord bots work. We use a library called discord.js to interact with the Discord API. Our command handler, is what what makes the bot register commands.

[2021-08-17 12:21] #292 closed

[2021-08-17 22:46] j-dogcoder commented on #291
Want to implement this?

[2021-08-17 22:46] j-dogcoder commented on #291
@Panquesito7

[2021-08-17 22:46] #288 closed

[2021-08-17 22:46] #287 closed

[2021-08-17 22:47] #278 closed

[2021-08-17 22:47] #277 closed

[2021-08-17 22:47] #286 closed

[2021-08-17 22:48] #169 closed

[2021-08-17 22:48] #177 closed

[2021-08-17 22:48] #185 closed

[2021-08-17 22:49] j-dogcoder opened #293 "User command doesn't work with mentions"

[2021-08-17 23:05] j-dogcoder opened #294 "Announce command completely broken"

[2021-08-17 23:52] Panquesito7 commented on #291
Sure, I'll create a PR for it; thanks. 🙂

[2021-08-21 20:58] j-dogcoder opened #297 "Migrate to Heptagram 1st party API"
List of things to migrate completely to our first-party API.

- [ ] Migrate commands cat, encouragement, hug, joke, movie qoute, and word definition commands to use API
- [ ] Update ping command to include API Ping
- [ ] Update API Info Command

[2021-08-21 21:01] j-dogcoder commented on #297
**LOCKED DUE TO STAFF ONLY. STAFF AND NECESSARY CONTRIBUTORS SHOULD HAVE ACCESS.**

[2021-08-29 17:03] Jassi10000 commented on #268
/assign

[2021-08-29 20:43] Xebec19 commented on #294
.take

[2021-08-30 01:22] Panquesito7 commented on #291
This should be in `master` already. Closing.

[2021-08-30 01:22] #291 closed

[2021-08-30 08:56] renovate[bot] opened #307 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency mongoose to v6](../pull/304)

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-07 19:53] tommy-lariccia commented on #217
New to github. If someone wants to assign this to me, I'll start working on it and try to make a PR.

[2021-09-07 20:03] j-dogcoder commented on #217
All set! Let me know if you need anything, and feel free to join the discord server.

[2021-09-11 12:23] sentry-io[bot] opened #313 "MongooseError: Operation `wokcommands-slash-commands.insertOne()` buffering timed out after 10000ms"
Sentry Issue: [HEPTAGRAM-BOT-3](https://sentry.io/organizations/heptagram-bot/issues/2641207630/?referrer=github_integration)

[code]

[2021-09-11 12:26] #313 closed

[2021-09-26 01:52] j-dogcoder opened #315 "[FEAT] - AI Chat Moderation"
### What feature would you like to see?

AI Chat Moderation sort of like [https://github.com/Microsoft-community/Dotsimus](https://github.com/Microsoft-community/Dotsimus).

### Additional information

Can tie into #194.

[2021-09-26 02:28] Panquesito7 opened #316 "[FEAT] - Add an anti-swear system"
### What feature would you like to see?

Add an anti-swear system. We can use the [`leo-profanity`](https://github.com/jojoee/leo-profanity) library for that. It works very well with a lot of words and it doesn't get confused with stuff like `assignment`, which *could* get blocked for the first three letters.

### Additional information

I don't think so.

[2021-09-26 02:29] j-dogcoder commented on #316
Want to work on this @Panquesito7?

[2021-09-26 02:31] j-dogcoder commented on #316
Sort of relates to #194 and #315

[2021-09-26 02:38] Panquesito7 commented on #316
Sure! I'll try to work on it these days. Thanks. 😄

[2021-09-27 15:00] Xico26 opened #318 "[BUG] - "Utilitys" instead of "Utilities""
### What bug did you encounter?

On of the options on the help command (!help) is "Utilitys"

### What did you expect to happen?

It should be "Utilities"

### Screenshots

![image](https://user-images.githubusercontent.com/47830278/134934058-61c62326-05a6-4234-8990-ac7f8eaf6f13.png)

### Additional information

_No response_

[2021-09-27 17:11] j-dogcoder commented on #318
Hey @Xico26! Thanks for submitting this! Want to work on this? If not, we can have someone else do it.

[2021-09-27 17:22] MidouWebDev commented on #318
@j-dogcoder i can work on it if he doesn't want to.

[2021-09-27 17:48] monzilnepali opened #319 "[FEAT] - Add command to show server information"
### What feature would you like to see?

Add command like 'serverInfo` to show detailed information about the server like the total number of users, roles, server creation date.

### Additional information

_No response_

[2021-09-27 18:03] monzilnepali commented on #294
can I take this one?

[2021-09-27 18:47] j-dogcoder commented on #294
Sure!

[2021-09-27 18:48] #318 closed

[2021-09-27 18:51] j-dogcoder commented on #319
@monzilnepali This already exists.

[2021-09-28 03:13] monzilnepali opened #323 "[OTHER] - Missing yarn.lock file"
### What would you like to share?

I noticed that `yarn.lock `is missing from the repo; I'm not sure if this is intentional or not. However, I believe it is critical that `yarn.lock` be pushed to the repo so that everyone has the same package version.

### Additional information

https://classic.yarnpkg.com/en/docs/yarn-lock/
https://nodejs.dev/learn/the-package-lock-json-file

[2021-09-28 03:21] Panquesito7 commented on #323
I think we're using `package.json` here, which means we're using NPM, so I don't see a need for Yarn. Let's wait until @j-dogcoder answers and see what they say. 🙂

[2021-09-28 03:24] monzilnepali commented on #323
@Panquesito7 I am referring `yarn.lock` file based on [installing-depdencies](https://github.com/Heptagram-Bot/Heptagram/blob/master/CONTRIBUTING.md#installing-dependencies)

[2021-09-28 03:28] Panquesito7 commented on #323
Ahh, I see 😅 my bad, sorry.

[2021-09-28 10:21] j-dogcoder commented on #323
Closed by 1a8cfd2acc175193ffa372e6160ea6b0ca3ef0e6

[2021-09-28 10:21] #323 closed

[2021-09-28 10:52] gdeep-ciena commented on #23
Interested,please assign

[2021-09-28 10:52] gdeep-ciena commented on #146
Interested ,please assign

[2021-09-28 10:53] j-dogcoder commented on #23
All yours @gdeep-ciena!

[2021-09-28 11:10] gagandeepp commented on #146
assign this to me

[2021-09-28 11:10] gagandeepp commented on #23
@j-dogcoder  This is my personal account. Please assign to this user

[2021-09-28 12:15] monzilnepali opened #324 "[OTHER] - Setup prettier with eslint"
### What would you like to share?

This issue is regarding setting up `prettier` and integrates with `eslint` so that all developers will have the same formatting configuration.

### Additional information
https://blog.theodo.com/2019/08/empower-your-dev-environment-with-eslint-prettier-and-editorconfig-with-no-conflicts
https://prettier.io/docs/en/integrating-with-linters.html

[2021-09-28 12:23] monzilnepali commented on #324
@j-dogcoder lemme know if you need any help on this

[2021-09-28 12:40] j-dogcoder commented on #324
Hey @monzilnepali, If you'd like to work on this, you are welcome to!

[2021-09-28 14:09] monzilnepali commented on #324
@j-dogcoder Sure I can take this one

[2021-09-28 14:10] MidouWebDev commented on #324
@monzilnepali i assigned you

[2021-09-28 14:10] MidouWebDev commented on #218
@j-dogcoder I think we can close it, no ?

[2021-09-28 15:29] #218 closed

[2021-09-28 15:29] j-dogcoder commented on #218
Correct!

[2021-09-28 22:44] j-dogcoder opened #325 "Switch away from WOK Commands"
### What would you like to share?

Register commands by ourselves directly to discord.js, and create our own help menu. This will allow us to rid ourselves of WOK Commands

### Additional information

_No response_

[2021-09-29 11:44] #270 closed

[2021-09-29 11:45] #268 closed

[2021-09-29 11:45] MidouWebDev commented on #268
@j-dogcoder i suggest to keep this feature for the v2.0

[2021-09-29 11:47] #242 closed

[2021-09-29 11:48] j-dogcoder commented on #268
The bot already supports this @MidouWebDev

[2021-09-29 11:49] MidouWebDev commented on #268
Ok

[2021-09-30 08:41] anubhav06 commented on #176
Hi, Can I work on this ?

[2021-09-30 08:47] MidouWebDev commented on #176
@anubhav06 sure, i am going to assign you !

[2021-10-01 07:32] gagandeepp commented on #146
Need more details on this

[2021-10-01 09:59] ryguigas0 commented on #214
Can you assign this issue to me? Also how can I set the config.json correctly?

[2021-10-01 13:45] j-dogcoder commented on #146
Hey @gagandeepp, basically, we need tests for the bot for when people commit code.

[2021-10-01 14:05] j-dogcoder commented on #214
Hey @ryguigas0, you can get the config by emailing config.request@heptagram.xyz

[2021-10-01 16:11] ryguigas0 commented on #214
Already emailed, does it take too long to receive an answer?

[2021-10-01 16:42] j-dogcoder commented on #214
Should be in the next hour.

[2021-10-01 17:25] anubhav06 commented on #231
Can you elaborate this a bit ?
Do you want the bot to automatically send the warning or you want users to manually send warning using bot commands

[2021-10-01 17:36] j-dogcoder commented on #231
@anubhav06 We want to have the bot to send it.

[2021-10-01 18:23] anubhav06 commented on #231
This should be database integrated as well, right ? Or just a simple msg

[2021-10-01 18:44] j-dogcoder commented on #231
Ideally #86 would also get done, and all of it would be database integrated.

[2021-10-01 18:46] anubhav06 commented on #231
Ok! I'll work on this

[2021-10-01 18:55] j-dogcoder commented on #231
@anubhav06 Want to comment on it so I can assign you to it?

[2021-10-02 03:12] Samikmalhotra commented on #146
If you're implementing CI you might need a dockerfile for this, can i add a dockerfile?

[2021-10-02 03:14] j-dogcoder commented on #146
Right now I think we just want tests

[2021-10-03 12:23] #324 closed

[2021-10-04 17:47] anubhav06 commented on #294
Hi, this command just has to send the specified message, in a specified channel , right ?

If no one is working on this, Can I do this ?

[2021-10-04 18:34] j-dogcoder commented on #294
That is correct @anubhav06. I belive @monzilnepali is working on this though.

[2021-10-04 18:57] #316 closed

[2021-10-04 23:02] Panquesito7 commented on #176
Isn't this already solved?

[2021-10-04 23:29] Panquesito7 commented on #194
We could do something *similar* to what the [EddieBot](https://github.com/EddieHubCommunity/EddieBot) does: put the blacklisted words in a file and tell the user to edit their message. I could try to work on it if wanted. 🙂

[2021-10-05 01:48] j-dogcoder commented on #176
Nope!

[2021-10-05 01:52] j-dogcoder commented on #194
That'd be awesome @Panquesito7! Fun fact, EddieBot uses the same package (alexjs)

[2021-10-05 02:06] Panquesito7 commented on #194
We could look into how EddieBot uses it (not copy-pasta, just a reference).

[2021-10-05 04:35] Vyvy-vi commented on #194
In my opinion, even though Alexjs is a great module, it often mis-performs. We use Alexjs over at EddieHub's discord, and it often doesn't include many words...

After talking to the maintainer, we found out that Alexjs isn't meant for this purpose, and a good way to move forward with inclusivity chat moderation would be to write our own retext plagin...
Would you be interested in a collaborative

[2021-10-05 10:24] j-dogcoder commented on #194
I'd for sure be interested!

[2021-10-05 17:35] anubhav06 commented on #294
@monzilnepali Pls reply if you are still working on this issue.

[2021-10-06 04:06] monzilnepali commented on #294
@anubhav06 Yes, I started looking into this issue but got busy. I'm planning to start working on this as soon as today, but if you're interested, you can take this one as well.

[2021-10-06 06:26] anubhav06 commented on #294
Naah, its ok if you are doing. I thought that you had become inactive like someone above who first took this issue and then unassigned himself

[2021-10-06 15:51] j-dogcoder commented on #88
👍🏻

[2021-10-07 19:02] anubhav06 opened #343 "[BUG] - `ANTI-LINK` command falsely recognizes as link"
### What bug did you encounter?

Any sentence which contains a word from these is recognized as a link by the command:
`aero|arpa|biz|com|coop|edu|gov|info|int|jobs|mil|museum|name|nato|net|org|pro|travel|xyz|local|internal`

So a simple sentence like below is thought of a link, and we get a warning when we send it:
1. What `jobs` have you applied for
2. The `aero` show was great

### What did you

[2021-10-07 19:37] anubhav06 commented on #343
![Capture](https://user-images.githubusercontent.com/43821031/136450902-3f345940-82b3-493a-96ef-1d42979274c5.PNG)

There are 2 possibilities when sending a link.
The first one will be banned
Do you want the second msg to be banned as well ?

[2021-10-08 12:47] #343 closed, assigned to anubhav06

[2021-10-09 22:02] net-tech commented on #217
@j-dogcoder Hey any update on this?

[2021-10-10 01:32] j-dogcoder commented on #217
👍🏻 Thanks for the heads up @tommy-lariccia

[2021-10-16 12:39] j-dogcoder opened #353 "[FEAT] - Owner server info command as an embed"
### What feature would you like to see?

Currently, the owner server info command sends raw messages for the server. It would be great if this could be done as an embed.

### Additional information

_No response_

[2021-10-16 14:47] #87 closed

[2021-10-16 14:48] #176 closed

[2021-10-17 00:25] j-dogcoder opened #357 "[FEAT] - Moderation System"
### What feature would you like to see?

Re-add moderation system and commands, old ones were depreciated.

### Additional information

_No response_

[2021-10-19 20:48] renovate[bot] opened #359 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-10-19 21:36] #359 closed

[2021-10-31 15:55] j-dogcoder opened #364 "[FEAT] - Proper Error system"
### What feature would you like to see?

Error handler based on [becca Lyria's error handler](https://github.com/BeccaLyria/discord-bot/)

### Additional information

A clearer version of #23 and #242

[2021-10-31 15:58] j-dogcoder opened #365 "[FEAT] - Propper Bot Log System"
### What feature would you like to see?

The idea would be for bot events to be logged in MongoDB, as well as a separate database with logs for every guild.
And then, guild owners can also specify a discord channel they want their guild events logged in. Ideally, we could tap into discord's audit log so heptagram can display events that happened that it didn't do.

### Additional information

A cl

[2021-10-31 15:58] #23 closed

[2021-10-31 16:03] #353 closed

[2021-10-31 16:07] j-dogcoder opened #366 "[FEAT] - Streaming Services Notifications"
### What feature would you like to see?

Streaming Services Notifications, and _Now streaming_ role.

- [ ] Twitch Notifications
- [ ] Youtube Notifications
- [ ]

### Additional information

The hope is to use FiniteSingularity's TAU. TAU is basically a tool for interacting with the Twitch API. The plan is for TAU to be baked in as our stream notification system. (Possibly using docker?)

(Cleare

[2021-10-31 16:10] #24 closed

[2021-10-31 16:11] #325 closed

[2021-10-31 16:11] #315 closed

[2021-10-31 16:11] j-dogcoder commented on #297
Hey @Vyvy-vi, any progress on this?

[2021-10-31 16:12] #281 closed

[2021-10-31 16:14] j-dogcoder opened #367 "[FEAT] - Configuration System"
### What feature would you like to see?

Make everything configurable, configurable on the user's end

- [ ] Moderation things (pending #357)
- [ ] Anti Link system
- [ ] etc

### Additional information

Closes #254

[2021-10-31 16:14] #254 closed

[2021-10-31 16:15] #214 closed

[2021-10-31 16:15] #217 closed

[2021-10-31 16:15] #231 closed

[2021-10-31 16:15] #241 closed

[2021-10-31 16:19] #212 closed

[2021-10-31 16:20] #194 closed

[2021-10-31 16:36] #30 closed

[2021-10-31 16:36] #31 closed

[2021-10-31 16:37] #34 closed

[2021-10-31 16:37] #146 closed

[2021-10-31 19:45] MidouWebDev commented on #31
@j-dogcoder we are not going to have this feature ?

[2021-10-31 19:46] MidouWebDev commented on #30
@j-dogcoder , can i know what was about ?

[2021-10-31 20:07] j-dogcoder commented on #31
Not currently

[2021-10-31 20:40] j-dogcoder commented on #30
This issues is moved to the website repo

[2021-11-03 06:50] Vyvy-vi commented on #297
Yes, I'll do this today.

We use axios, right?

[2021-11-03 11:00] j-dogcoder commented on #297
I think so. I am open to changing that though

[2021-11-03 22:34] Kevan-Y opened #370 "[FEAT] - Add weather command"
### What feature would you like to see?

- Add weather command.

Calling the command either
[code]
The embed can look like this
![image](https://user-images.githubusercontent.com/58233223/140209181-9af54abb-a2ca-419e-9e09-825e4123c78f.png)

Data from https://openweathermap.org/

### Additional information

_No response_

[2021-11-03 22:34] Kevan-Y commented on #370
If there is no issue I will work on that.

[2021-11-03 22:35] j-dogcoder commented on #370
Go for it!

[2021-11-06 10:15] aserputov commented on #364
Hey, @j-dogcoder. I would like to try this issue if you don't mind. Could you please assign it to me?

[2021-11-06 13:38] j-dogcoder commented on #364
Sure!

[2021-11-13 13:30] apoorvcodes commented on #370
are you working on it?

[2021-11-13 14:59] Kevan-Y commented on #370
@apoorvcodes, yes I had some issue with the config file. I was waiting for @j-dogcoder to rework some of the config.

[2021-11-16 04:52] apoorvcodes commented on #370
so the issue is fixed?

[2021-11-16 05:40] aserputov commented on #364
@j-dogcoder  do I still need to work on this issue ? or you planning to archive that project ?

[2021-11-16 11:45] j-dogcoder commented on #364
You should continue. @apoorvcodes is taking over.

[2021-11-18 20:36] Kevan-Y commented on #370
I have issue setting up the bot locally, is it possible to have some help?

[2021-11-18 23:17] j-dogcoder commented on #370
Check in with @apoorvcodes

[2021-11-19 02:08] apoorvcodes commented on #370
what are the issues

[2021-11-19 02:09] apoorvcodes commented on #370
just lemme know and ill see to it

[2022-02-18 19:19] j-dogcoder opened #382 "[FEAT] - Implement no-ghost-pings system"
### What feature would you like to see?

like [no-ghost-pings](https://github.com/Benricheson101/no-ghost-pings)

### Additional information

_No response_

[2022-02-18 19:21] j-dogcoder opened #383 "[FEAT] - Anti Phishing System"
### What feature would you like to see?

**Resources:**

- [https://github.com/Benricheson101/anti-phishing-bot](https://github.com/Benricheson101/anti-phishing-bot)
-

### Additional information

_No response_

[2022-02-18 19:25] j-dogcoder opened #384 "[FEAT] - automatically publishes messages sent in announcement channels"
### What feature would you like to see?

like [https://github.com/Benricheson101/Publisher](https://github.com/Benricheson101/Publisher)

### Additional information

_No response_

[2022-02-21 14:41] j-dogcoder opened #385 "[FEAT] - Invite Manager System"
### What feature would you like to see?

Based off of [https://github.com/manage-invite/manage-invite-bot](https://github.com/manage-invite/manage-invite-bot)

### Additional information

_No response_

[2022-02-21 14:43] j-dogcoder commented on #365
Also utilize [https://github.com/Androz2091/discord-logs](https://github.com/Androz2091/discord-logs)

[2022-02-24 18:19] j-dogcoder opened #386 "[FEAT] - Server Backup"
### What feature would you like to see?

[https://github.com/server-backuper/server-backuper](https://github.com/server-backuper/server-backuper)

### Additional information

_No response_

[2022-02-28 17:53] #370 closed

[2022-03-05 04:09] j-dogcoder opened #390 "[OTHER] - Migrate to sapphire framework"
### What would you like to share?

Migrate entire bot to [saphire framework](https://github.com/sapphiredev/framework)

### Additional information

This is gonna take lots of people, I will assign as many people that are willing!

[2022-03-05 04:10] j-dogcoder commented on #186
Reopening, cause it is needed. Now it should be implemented with the saphire system. See #390

[2022-03-05 13:00] #297 closed

[2022-03-07 02:14] j-dogcoder opened #391 "[FEAT] - Discord Ban Appeal System"
### What feature would you like to see?

Based on [sylveon/discord-ban-appeals](https://github.com/sylveon/discord-ban-appeals), this would require a website component and a bot component. Upon ban, the bot will dm the user a link to a ban appeal dashboard. Servers will have to each opt in.

### Additional information

_No response_

[2022-03-09 20:03] MoOaAaa commented on #384
.take

[2022-03-09 21:18] j-dogcoder commented on #384
Thanks for claiming this!

As an internal note to the team, this needs to be added to the list of configurables

[2022-03-12 23:08] #384 closed

[2022-03-13 01:12] j-dogcoder opened #394 "[FEAT] - Load commands in folders/subfolders"
### What feature would you like to see?

Add command subfolder support

### Additional information

_No response_

[2022-03-13 01:29] j-dogcoder opened #395 "[FIX] - Fix user command pinging user"
### What would you like to share?

Fix user command pinging user

### Additional information

_No response_

[2022-03-13 01:52] #395 closed

[2022-03-17 02:24] j-dogcoder opened #410 "[FEAT] - New Warning System that works with Mongo"
### What feature would you like to see?

New Warning System that works with Mongo

### Additional information

_No response_

[2022-03-19 18:02] psyonix-engg commented on #390
.take

[2022-03-19 18:03] psyonix-engg commented on #390
In progress by me, starting right now.

[2022-03-26 11:40] j-dogcoder opened #416 "Migrate from Enmap to JOSH"
### What would you like to share?

[https://github.com/josh-development/website/blob/main/src/docs/Guide/getting-started/MigratingFromEnmap.mdx](https://github.com/josh-development/website/blob/main/src/docs/Guide/getting-started/MigratingFromEnmap.mdx)

### Additional information

_No response_

[2022-04-13 18:33] pritipsingh commented on #410
Do you still need help with this? If yes then please let me know.

[2022-04-13 22:18] j-dogcoder commented on #410
Hey @pritipsingh, We would love your help!

[2022-04-13 22:19] j-dogcoder commented on #410
Would you like me to assign it to you?

[2022-04-14 05:53] pritipsingh commented on #410
Ya sure please. Also please let me know if you've any discord channel where I can ask my doubts and how to go about it?

[2022-04-14 10:01] j-dogcoder commented on #410
Sure @pritipsingh! You can check out our [CONTRIBUTING.md](https://github.com/Heptagram-Bot-Project/bot/blob/main/CONTRIBUTING.md) for a guide on how to get started, and their is a link for the server there.

[2022-05-01 14:06] #394 closed

[2022-05-01 14:06] #391 closed

[2022-05-01 14:07] #386 closed

[2022-05-01 14:07] #385 closed

[2022-05-01 14:08] #382 closed

[2022-05-01 14:08] #367 closed

[2022-05-01 14:09] j-dogcoder commented on #365
Closed with sapphire bot migration #390

[2022-05-01 14:09] #365 closed

[2022-05-01 14:10] j-dogcoder commented on #364
Closed with #390

[2022-05-01 14:10] #364 closed

[2022-05-01 14:11] j-dogcoder commented on #186
Closed with #390

[2022-05-01 14:11] #186 closed

[2022-05-08 15:52] pritipsingh commented on #410
Hey @j-dogcoder did you review the code?

[2022-05-08 15:52] pritipsingh commented on #410
hey, @j-dogcoder Did you review the code? I made the required changes

[2022-05-08 18:20] j-dogcoder commented on #410
Hey @pritipsingh! So sorry I haven't gotten to this yet. I will do that later today.

[2022-05-08 23:53] #410 closed

[2022-06-28 12:34] aroramrinaal commented on #5
Hey @j-dogcoder is this issue still active or we have got the **Proper documentation** that we wanted?

[2022-06-28 12:39] aroramrinaal commented on #5
I would like to work on this issue for sure. Please tell me what should I do should I make an **entire new website** or use **gitbook** to write documentation?

[2022-06-28 12:55] j-dogcoder commented on #5
I have a new repo for it. [https://github.com/Heptagram-Project/docs](https://github.com/Heptagram-Project/docs)

[2022-07-05 13:18] #390 closed

[2022-07-05 13:18] #357 closed

[2022-07-05 13:18] #416 closed

[2022-07-05 13:19] #383 closed

[2022-07-05 13:45] j-dogcoder commented on #5
Bey @Agrover112, how's this going?

[2022-07-20 13:27] github-actions[bot] opened #454 "SET CUSTOM ACTIVITY"
https://github.com/Heptagram-Project/discord-bot/blob/057a610e9619e6652cb145f30375181c125275f7/src/index.ts#L123

[code]

[2022-07-20 15:49] github-actions[bot] opened #455 "add tests to check for custom column delimiters"
https://github.com/Heptagram-Project/discord-bot/blob/be90a670e10125f833c9a5cc459e26601fe72409/test/utils/formatText.spec.ts#L33

[code]

[2022-08-17 16:16] #454 closed

[2022-09-23 15:16] j-dogcoder opened #482 "[FEAT] - Configuration System"
### What feature would you like to see?

System to configure scam link detection, automod, and other features.

### Additional information

_No response_

[2022-09-24 05:35] hasnainmakada-99 commented on #482
Hey @j-dogcoder can you please tell me the issue in more detail as I am interested in this

[2022-09-24 13:09] j-dogcoder commented on #482
Hey @hasnainmakada-99! Currently we have several automod features that are just on for every guild. The hope, is to store configuration settings per guild in our db, and then reference them when those features are called, to see if the guild in question actually needs those.

[2022-09-24 13:10] j-dogcoder commented on #482
Would you like me to assign you to the issue?

[2022-09-24 14:37] hasnainmakada-99 commented on #482
Sorry @j-dogcoder I don't have that much experience building discord bots so it will be best for us if we assign this issue to someone who knows working with bots

[2022-09-24 14:38] j-dogcoder commented on #482
No worries!

[2022-09-24 16:38] hasnainmakada-99 commented on #482
Thank you

[2022-09-25 12:00] j-dogcoder commented on #482
.take

[2022-10-11 19:16] j-dogcoder commented on #482
WIP, work already started

[2022-10-20 14:13] codefactor-io opened #495 "Fix '&#39;flags&#39; is assigned a value but never used.' issue in src\commands\subcommands\utils\handleUser.ts"
[CodeFactor](https://www.codefactor.io/repository/github/heptagram-project/discord-bot) found an issue: &#39;flags&#39; is assigned a value but never used.

It's currently on:
[src\commands\subcommands\utils\handleUser.ts:30](https://www.codefactor.io/repository/github/heptagram-project/discord-bot/source/main/src/commands/subcommands/utils/handleUser.ts#L30)

[2022-10-20 14:14] codefactor-io[bot] opened #496 "Fix 'Trailing spaces' issue in .github\workflows\reviewpad.yml"
[CodeFactor](https://www.codefactor.io/repository/github/heptagram-project/discord-bot) found an issue: Trailing spaces

It's currently on:
[.github\workflows\reviewpad.yml:32](https://www.codefactor.io/repository/github/heptagram-project/discord-bot/source/main/.github/workflows/reviewpad.yml#L32)

[2022-10-20 14:22] codefactor-io[bot] opened #497 "Fix 'Complex Method' issue in src\modules\commands\server\validateServerPerms.ts"
[CodeFactor](https://www.codefactor.io/repository/github/heptagram-project/discord-bot) found an issue: Complex Method

It's currently on:
[src\modules\commands\server\validateServerPerms.ts:19-241](https://www.codefactor.io/repository/github/heptagram-project/discord-bot/source/main/src/modules/commands/server/validateServerPerms.ts#L19)

[2022-10-20 14:22] codefactor-io[bot] opened #498 "Fix 'Complex Method' issue in src\modules\commands\server\validateChannelPerms.ts"
[CodeFactor](https://www.codefactor.io/repository/github/heptagram-project/discord-bot) found an issue: Complex Method

It's currently on:
[src\modules\commands\server\validateChannelPerms.ts:19-245](https://www.codefactor.io/repository/github/heptagram-project/discord-bot/source/main/src/modules/commands/server/validateChannelPerms.ts#L19)